%h1=raw t('email.welcome_pro.title')
%p=raw t('email.welcome_pro.greet')
%p=raw t('email.welcome_pro.text')
%p
  = link_to new_project_path, class: 'btn' do
    = image_tag('email-add-project.png')
    = t('email.welcome_pro.button')
%p=raw t('email.signature')
