%h1=raw t('email.welcome_user.title')
%p=raw t('email.welcome_user.greet')
%p=raw t('email.welcome_user.text')
%p=raw t('email.signature')
%br
%p
  = t('email.welcome_user.become_pro')
  = link_to t('email.welcome_user.learn_more'), experten_path
