 <h3>category </h3>
 <ul><li> value id: 1, name: 'Schlafzimmer', slug: 'schlafzimmer'</li>
 <li> value id: 2, name: 'Badezimmer', slug: 'badezimmer'</li>
 <li> value id: 3, name: 'Küche', slug: 'kuche'</li>
 <li> value id: 4, name: 'Wohnzimmer', slug: 'wohnzimmer'</li>
 <li> value id: 5, name: 'Esszimmer', slug: 'esszimmer'</li>
 <li> value id: 6, name: 'Kinderzimmer', slug: 'kinderzimmer'</li>
 <li> value id: 7, name: 'Arbeitszimmer', slug: 'arbeitszimmer'</li>
 <li> value id: 8, name: 'Flur & Eingangsbereich gestalten', slug: 'flur-und-eingangsbereich-gestalten'</li>
 <li> value id: 9, name: 'Gartengestaltung und Balkon', slug: 'gartengestaltung-und-balkon'</li>
 <li> value id: 10, name: 'Pool, Sauna & Wellness', slug: 'pool-sauna-und-wellness' </li>
 <li> value id: 11, name: 'Fassadengestaltung', slug: 'fassadengestaltung' </li>
 <li> value id: 12, name: 'Wintergarten und Fenster', slug: 'wintergarten-und-fenster' </li>
 <li> value id: 13, name: 'Treppen', slug: 'treppen' </li></ul>