.container
  .row
    .col-md-9
      %h3 Get in Touch!
      %p
        We'd love to hear from you. Reach out to us and one of our awesome team members will get back to you. We love getting email all day
        %em all day.
      %h5.title Contact Our Company
      %form
        .row.collapse
          .large-2.columns
            %label.inline Your Name
          .large-10.columns
            %input#yourName{placeholder: "", type: "text"}/
        .row.collapse
          .large-2.columns
            %label.inline Your Email
          .large-10.columns
            %input#yourEmail{placeholder: "", type: "text"}/
        .row.collapse
          .large-2.columns
            %label.inline What's up?
          .large-10.columns
            %textarea{rows: 4}
        %button.radius.button{type: "submit"} Submit
    .col-md-3
      %h5 Map
      %p
        %a
          %img{src: ""}/
        %br/
        %a View Map
      %p
        123  St.
        %br/
        Us, M 12355
