.container.masthead
  - unless user_signed_in?
    .masthead-inner
      .masthead-copy
        %h1
          Die neue
          %br
          Online-Community
          %br
          f&uuml;r Home &amp; Living
        %h2.hidden Entdecken, sammeln & pr&auml;sentieren Sie die besten Ideen f&uuml;r ein sch&ouml;nes Zuhause
        .links
          = link_to " Email registrieren", new_registration_path(resource_name), class: 'btn signup email'
          - resource_class.omniauth_providers.each do |provider|
            = link_to "#{provider.to_s.titleize} einloggen", omniauth_authorize_path(resource_name, provider), class: "btn signup signup-#{provider}"
  .slider-container
    %ul#slider
      - HSlider.all.where(:status=>true).each do |img|
        %li
          = image_tag img.slider_image
          .owner= raw(img[:owner])
.container
  .projects
    %h1.underlined
      Neue Wohnideen im Trend
    = render partial: 'projects/new_photos', collection: @projects, locals: { excerpt: true }
    - if @projects_count > 6
      .load-more= link_to 'Mehr', staff_picks_projects_path(page: 2), remote: true, data: {type: :html}
  %aside.started.hidden
    - if user_signed_in?
      -# %h1.underlined Aktivitäten
      -# .activities= render_activities @notifications, layout: :activity
      -# %h5= 'Keine aktuellen Aktivitäten' if @notifications.empty?
    - else
      %h1.underlined Jetzt loslegen
      %ul
        %li.first
          %h3 Kostenlos anmelden
          %p Registrieren Sie sich mit Ihrer Email oder melden Sie sich jetzt mit Ihrem Facebook Konto an.
        %li.second
          %h3 Wohnideen entdecken
          %p Durchsuchen und entdecken Sie die besten Fotos und Projekte rund um Haus & Garten.
        %li.third
          %h3 Experten finden
          %p Finden Sie den passenden Haus- und Gartenprofi für Ihr Projekt
        %li.fourth
          %h3 Wohnprobleme lösen
          %p Zeigen Sie Ihre eigenen Projekte, erhalten Sie Hilfe für Wohnprobleme und tauschen Sie sich mit der Community aus.
      .links
        = link_to "Email registrieren", new_registration_path(resource_name), class: 'btn signup email'
        - resource_class.omniauth_providers.each do |provider|
          = link_to "Jetzt mit #{provider.to_s.titleize} einloggen", omniauth_authorize_path(resource_name, provider), class: "btn signup signup-#{provider}"
    %h1.underlined Folgen Sie uns
    %ul.social
      %li.fb= link_to 'Facebook', '', target: '_blank', rel: 'nofollow'
      %li.twitter= link_to 'Twitter', 'https://twitter.com/Test1', target: '_blank', rel: 'nofollow'
      %li.gplus= link_to 'Google+', 'https://plus.google.com', target: '_blank', rel: 'nofollow'
      %li.rss= link_to 'RSS', 'http://blog.Test.de/feed/', target: '_blank', rel: 'nofollow'
