.container
  .photo-container
    .like= render partial: 'application/like', locals: { likeable_obj: @photo }
    - if @prev_photo
      = link_to project_photo_path(@project, @prev_photo), class: 'previous' do
        %span.glyphicon.glyphicon-chevron-left
    - if @next_photo
      = link_to project_photo_path(@project, @next_photo), class: 'next' do
        %span.glyphicon.glyphicon-chevron-right
    = image_tag @photo.picture, id: 'photo'
  .comments
    %h3= "Comments (#{@comments.count})"
    %ul.comments= render partial: 'comments/comments', collection: @comments
    = render partial: 'comments/form', locals: { comment: @comment }
