#avatar-container
  - if @profile.avatar?
    %label.avatar Profile photo 
    #avatar-photo
      = image_tag @profile.avatar, alt: @profile.name_category_and_location
      .links
        .remove= link_to image_tag('remove.png'),'#',:onClick => "save_profile_data(#{@profile.id});"
  - else
    = simple_form_for @profile, url: profile_path(@profile), html: {id: 'avatar'} do |f|
      = f.error_notification

      .form-inputs= f.input :avatar, required: true, as: :file, label: 'Profile'
      #upload-avatar-photo
        = image_tag 'cover-photo.png'
        %p Foto auswählen oder ziehen Sie es hierhin zum Hochladen
      #uploading-avatar
