- if profile.instance_of? Profile
  .profile
    .content-mobile
      .avatar= image_tag profile.avatar, alt: profile.name_category_and_location
      .metadata
        %p= link_to profile.name, profile_path(profile)
        %p= [profile.category, profile.city].join(' ')
        %p= link_to pluralize(profile.projects.published.count, 'project', 'project'), profile_path(profile)
    .photo.hidden
      = image_tag first_profile_photo profile
    .content-desktop
      .avatar= image_tag profile.avatar, alt: profile.name_category_and_location
      .contact
        %h2= link_to profile.name, profile_path(profile)
        - if profile.city
          %p= profile.city
        - if profile.phone
          %p= profile.phone
        - if profile.url
          %p= profile.url
      .metadata
        %p= profile.category
        %p= link_to pluralize(profile.projects.published.count, 'project', 'project'), profile_path(profile)
      .description= truncate profile.description, length: 250, separator: ' '
