%script#avatar-template{type: 'text/html'}
  %label.avatar Profile photo
  #avatar-photo
    %img{src:'{{thumbnail_url}}'}
    .links
      .remove= link_to image_tag('remove.png'),'#',:onClick => "save_profile_data({{profile_id}});"
