- title = @scopes.any? ? profile_title(@scopes) : t('profile.meta.title')
- meta title: title, description: t('profile.meta.description'), keywords: t('profile.meta.keywords')
- description = profile_meta_description(@scopes)
- keywords = profile_meta_keywords(@scopes)
- meta title: title, description: description, keywords: keywords
.container.profiles-filter
  %h3.underlined Experten suchen
  .filters= render partial: 'filter'
  .profiles
    %h3.underlined= "#{@profiles_count} Experten"
    - if @profiles.count > 0
      = render partial: 'profile', collection: @profiles
      = paginate @profiles
    - else
      %h3 Keine Experten gefunden
    -if @scopes["b"] ? @scopes["o"] : nil
    -else
      -if @for_seo_reason == @profiles.limit(6).order('id desc').map{|i| i.id}
        .text=raw profile_seo_text @scopes
      -else
      
    .categories
      %h4= "Alle Experten finden"
      %ul= render partial: 'category', collection: ProCategory.all

