!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "google-site-verification", content: ""}
    = metamagic title: 'Test', description: t('home.meta.description'), keywords: t('home.meta.keywords')
    = stylesheet_link_tag :application, media: 'all'
    = favicon_link_tag
    = csrf_meta_tags
%body{class: body_class}

  = yield
  = render 'javascripts'
