!!! 5
%html{lang: 'de'}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width"}
    = stylesheet_link_tag :email, media: 'all'
%body#email
  %table#main
    %tr
      %td#header.container
        .content= render partial: 'application/header_mailer'
    %tr
      %td#content.container
        .content= yield
    %tr
      %td#footer.container
        .content= render partial: 'application/footer_mailer'
  %table#about
    %tr
      %td.container
        .content
          %table
            %tr
              %td{align: 'center'}= t('email.about.address')
            %tr
              %td{align: 'center'}= link_to t('email.about.unsub'), '#'
